
body{background-color: #636568;
    margin: 50px;
    border-radius: 100px;
    border-color: #D71920;}
h1, h5{
    text-align: center;
    color: #D71920;
}
a:link, a:visited{
    font-family: "sans-serif";
    background-color: #D71920;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;}

a:hover, a:active {background-color: white;}

#group4, #p1{text-align: center;
    color: #FFFFFF;}
#info{
    color:black;
}

.card-deck{
    max-width: 100%;
    height: unset;}


img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;}

.card{
    color: #343A40;
}

.container{
    justify-content: center;
    align-items: center;
}